.web-px {
  @apply px-4 md:px-[64px] xl:px-[128px];
}
.blog-px {
  @apply px-0 md:px-[86px] xl:px-[172px];
}
.team-member-px {
  @apply px-4 md:px-[80px]  lg:px-[140px] xl:px-[240px];
}
.gallery-px {
  @apply px-4 md:px-[86px] xl:px-[172px];
}

.fx {
  @apply flex;
}
.fx-center {
  @apply flex items-center justify-center;
}
.fx-j-center {
  @apply flex justify-center;
}
.fx-a-center {
  @apply flex items-center;
}
.fx-col {
  @apply flex flex-col;
}
.fx-jb {
  @apply flex justify-between;
}
/* styles.css */
.h1 {
  @apply text-4xl font-bold md:text-6xl  leading-tight;
}
.h2 {
  @apply text-3xl font-bold md:text-5xl  leading-tight;
}
.h3 {
  @apply text-2xl font-semibold md:text-4xl  leading-tight;
}
.h4 {
  @apply text-xl font-semibold md:text-3xl  leading-tight;
}
.h5 {
  @apply text-lg font-semibold md:text-2xl  leading-tight;
}
.h6 {
  @apply text-base font-semibold md:text-xl  leading-tight;
}

.ts1 {
  @apply text-4xl  md:text-6xl  leading-tight;
}
.ts2 {
  @apply text-3xl  md:text-5xl  leading-tight;
}
.ts3 {
  @apply text-2xl  md:text-4xl  leading-tight;
}
.ts4 {
  @apply text-xl  md:text-3xl  leading-tight;
}
.ts5 {
  @apply text-lg  md:text-2xl  leading-tight;
}
.ts6 {
  @apply text-base  md:text-xl  leading-tight;
}
.ts7 {
  @apply text-sm  md:text-lg  leading-tight;
}

.fx-col-mb {
  @apply flex flex-col md:flex-row;
}
.absolute-cover {
  @apply absolute top-0 left-0 w-full h-full object-cover blur-[10];
}
.blur-bg {
  @apply bg-background/20 border-[1px] border-background/60  backdrop-filter backdrop-blur-md;
}

/* 
.blur_bg {
  border: 1px solid rgba(255, 255, 255, 0.64);
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(10.5px);
} */

.txe-white {
  color: #fff !important;
}
/* all txe-white heading to white */
.txe-white h1,
.txe-white h2,
.txe-white h3,
.txe-white h4,
.txe-white h5,
.txe-white h6,
.txe-white p,
.txe-white strong,
.txe-white em {
  color: #fff !important;
}
